'use strict';

const Carthage = require('carthage');

class {{= data.name }} extends Carthage.Model {}

{{? !data.nodb }}{{= data.name }}.setDatabase(Carthage.require('db/main.js'));
{{?}}{{= data.name }}.setSchema(Carthage.my.Schema.models.{{= data.name }});

module.exports = {{= data.name }};
