
'use strict';

const Carthage = require('carthage');

class {{= data.name }}Renderware {

  exec(controller, data, callback) {

    callback(null, data);
    return false;

  }

}

module.exports = {{= data.name }}Renderware;
